.tic-tac-toe {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &__game-field {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: ". . ." ". . ." ". . .";
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75)
  }

  &__cell {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 72px;
    background-color: #eaeae1;
    border: 1px solid rgba(192,192,165,75);
    color: #3d3d29;
  }

  &__refresh-button {
    margin:  30px;
    padding: 10px 20px;
    background-color: #009933;
    border-radius: 5px;
    font-size: 22px; 
    color: white;
  }

  &__win-message {
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 20%;
    left: 0;
    right: 0;
    font-size: 75px;
    color: #009933;
  }
}

